# セレクタ{プロパティ:プロパティ値;}

table {
    width: 100%;
    border: solid;
    border-collapse: collapse;
}

th,td {
    border: thin solid;
    border-collapse: collapse;
    padding: 0px 7px;
    
}

td:first-child {
    
    text-align: center;
}

thead tr {
    background-color: aquamarine;
}

tbody tr:nth-child(even) {
    background-color: gainsboro;
}

tbody tr:hover {
    background-color: darkblue;
    color: bisque;
}
